body{
    font-family:Arial,sans-serif;
    background-color:hsl(0, 0%, 80%);
}

h1{
    color: hsl(250, 93%, 40%);
}

form{
      background-color:hsl(0, 100%, 100%);
      text-align: center;
      max-width: 350px;
      margin:auto;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 5px 5px 15px hsl(0, 0%, 29%);

}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.775);
    border-radius: 4px;
    margin-bottom: 15px; 
}
label{
      font-size: 1.5em;
      font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: hsl(0, 85%, 51%);
    color: white ;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}



button:hover{
    background-color: hsla(0, 81%, 46%, 0.856);

}

#result{
    font-size: 1.75em;
    font-weight: bold;
}
    