/* #container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(253, 92%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:hsl(253, 92%, 60%) ;
}
button:active{
     background-color:hsl(253, 92%, 70%) ;
} */
/* 

body{
    background-image: url(background.jpg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color:white;
    backdrop-filter: blur(5px);
    background-color: hsl(0, 0%, 100%,0.1)
    width: 100%;
} */


/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}
#myH1{
    font-size: 4rem;
    font-family: "Arial","sans-serif";
    color: hsl(0, 0%, 25%);

}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75); 
    margin-bottom: 25px; 
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startBtn{
    background-color: hsl(115, 100%, 40%);
}
#startBtn:hover{
    background-color: hsl(115, 100%, 30%);
}
#stopBtn{
    background-color:hsl(0, 100%, 60%)
}
#stopBtn:hover{
    background-color:hsl(0, 100%, 50%)
}  
#resetBtn{
    background-color: hsl(226, 100%, 60%);
}
#resetBtn:hover{
    background-color: hsl(255, 100%, 50%);
}  
     */

